input_dir: input_data
output_dir: output_data
metadata_dir: 'config_modules\metadata'
entity_type_configs:   
  order:
    metadata_file: orders_metadata.yaml   
    source_data_file: olist_orders_dataset.csv
  order_item:
    metadata_file: order_items_metadata.yaml   
    source_data_file: olist_order_items_dataset.csv
  order_payment:       
    metadata_file: order_payments_metadata.yaml   
    source_data_file: 'olist_order_payments_dataset.csv'
  product:
    metadata_file: products_metadata.yaml
    source_data_file: olist_products_dataset.csv
