input_dir: input_data # path to source file
output_dir: output_data # destination path
metadata_dir: 'config_modules\metadata' #path to metadata file for each entity type

## parameters affecting save to parquet  
chunk_size: 100
compression: snappy
partitioning_columns:
- product_id

entity_type_configs:   
  order:
    metadata_file: orders_metadata.yaml   
    source_data_file: olist_orders_dataset.csv
  order_item:
    metadata_file: order_items_metadata.yaml   
    source_data_file: olist_order_items_dataset.csv
  order_payment:       
    metadata_file: order_payments_metadata.yaml   
    source_data_file: 'olist_order_payments_dataset.csv'
  product:
    metadata_file: products_metadata.yaml
    source_data_file: olist_products_dataset.csv
