name: Push Event Workflow

on: push 

jobs:
  unit-testing:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11"]
    
    steps:
    - name : Checkout code
      uses : actions/checkout@v2

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
      
    - name : Install Packages 
      run : pip install pytest
      
    - name : Run tests 
      run : pytest test.py